
*.vsidx
*.lock
.vs/WpfApp/v17/.suo
bin/Debug/WpfApp.exe
bin/Debug/WpfApp.exe.config
bin/Debug/WpfApp.pdb
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/App.g.cs
obj/Debug/App.g.i.cs
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/MainWindow.baml
obj/Debug/MainWindow.g.cs
obj/Debug/MainWindow.g.i.cs
obj/Debug/WpfApp.csproj.AssemblyReference.cache
obj/Debug/WpfApp.csproj.CoreCompileInputs.cache
obj/Debug/WpfApp.csproj.FileListAbsolute.txt
obj/Debug/WpfApp.csproj.GenerateResource.cache
obj/Debug/WpfApp.csproj.SuggestedBindingRedirects.cache
obj/Debug/WpfApp.exe
obj/Debug/WpfApp.g.resources
obj/Debug/WpfApp.pdb
obj/Debug/WpfApp.Properties.Resources.resources
obj/Debug/WpfApp_MarkupCompile.cache
obj/Debug/WpfApp_MarkupCompile.lref
